<div class="modal fade" id="modalAbandonConfirm" tabindex="-1" role="dialog" aria-labelledby="modalAbandonConfirmTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAbandonConfirmTitle">Покинуть тренировку</h5>
            </div>

            <div class="modal-body p-2">
                <p>Вы действительно хотите покинуть тренировку?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="confirm_abandon(1)">Да</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="confirm_abandon(2)">Отмена</button>
            </div>
        </div>
    </div>
</div>